.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  height: 500px;
}

* {
  border: 2px solid black;
}

.grid-item {
  border: 2px solid blue;

  
}
